*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;

}

.container{
    border: 1px solid red ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
form{
    max-width: 500px;
    max-height: 600px;
    height: 98%;
    width: 98%;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
input{
    /* height:3rem; */
    margin-bottom: 20px;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px;
    outline: 1px solid black;
    border: none;
}
button{
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 18px;
    border: none;
    background-color: rgb(28, 144, 246);
    color: #fff;
    cursor: pointer;
}